h1 {
    color: white;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #001224;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
    position: relative;
    background: limegreen;
    border: solid 1px black;
    border-radius: 20px;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-main:after {
    content: "";
    display: table;
    clear: both;
}

.left-item {
    float: left;

}

.right-item {
    float: right;

}

.navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: white;
    transition: .3s linear;
}

.menu-main a:hover {
    background: rgba(0, 0, 0, .3);
}

@media (max-width: 830px) {
    .menu-main {
        padding-top: 90px;
        text-align: center;
    }

    .navbar-logo {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }

    .menu-main li {
        float: none;
        display: inline-block;
    }

    .menu-main a {
        line-height: normal;
        padding: 20px 15px;
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .menu-main li {
        display: block;
    }
}

html {

    background: url('/images/fon.png') no-repeat center center fixed;
    background-size: cover;
}

#cabinet_1 {

    margin-left: 0px;
    margin-top: 15px;
    width: 160px;
    height: 95px;
    border: 1px solid black;
    padding: 1px;
    background: limegreen;
    border-radius: 10px;

}

#changepassword {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;

}

#info {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: 1px solid blue;
    padding: 1px;
    background: limegreen;

}

#create_humans {
    margin-left: 490px;
    margin-top: 15px;
    width: 350px;
    height: 300px;
    border: 1px solid blue;
    padding: 1px;
    background: limegreen;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

#add-human {

    margin-left: 15%;
}

#name_human {
    margin-top: 5px;
    width: 300px;
    margin-left: 20px;
}

#years {

    margin-left: 10px;

}

#worked {
    margin-left: 10%;


}

#info-human {

    margin-left: 10%;
    width: 70%;

}

#info-human_1 {

    margin-left: 10%;
    text-align: center;
}

#phone {

    margin-left: 10%;
    margin-top: 0.1%;
    width: 50%;
}

#errors {

    color: red;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#complete {
    color: black;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

table {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;

    color: white;
    text-align: left;

    border-collapse: separate;
    margin-top: 1%;
    background: limegreen;

}

th {

    background: darkslategray;

}

td {
    background: darkgray;


}

#addadmin_div {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#id_1 {
    margin-left: 41%;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#form_addadm {
    margin-left: 43%;
    margin-top: 1%;
    width: 12%;
    height: 30%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.1%;
    background: limegreen;


}

#users_online {
    width: 25%;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    background: limegreen;
    margin-top: 1%;


}

#table_online {
    color: white;

    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 40%;
    margin-left: 40%;


}

#base_1 {
    margin-left: 23%;
}

#zad_1 {
    width: 25%;
    margin-left: 37%;
    height: 30%;
    border: 1px solid black;
    padding: 1px;
    background: limegreen;
    border-radius: 10px;



}

#title {

    width: 100%;


}

#body {
    width: 100%;


}

#gotozadan {

    margin-left: 30%;


}

#form_cab1 {
    margin-left: 20%;


}

#formlabel_cab1 {
    margin-left: 20%;
    margin-top: 0%;;

}

#work-stat {
    margin-left: auto;
    padding: 0px;

    color: white;

    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 1px;

}

.container {
    margin-left: 35%;
    position: absolute;
    display: inline;
    border: 1px solid black;
    padding: 1px;
    background: limegreen;
    border-radius: 5px;


}

#zadan1 {
    color: white;

    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;

    top: 15%;
    margin-left: 50%;
    padding: 1px;
    position: absolute;
}

#zadan2 {
    float: left;
    margin-left: 5%;
    position: absolute;
    top: 15%;
    color: white;

    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 1px;
}

#addquestion {
    width: 40%;
    margin-left: 30%;
    min-height: 300px;
    border: 1px solid black;
    padding: 2px;
    background: limegreen;
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 14px;

}

textarea {
    width: 80%;
    height: 80%;
    margin: 0 auto;


}


#not_accept {
    color: red;

}

#accept {
    color: green;

}

#worked_question {
    color: chartreuse;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.window_content {
    background-color: limegreen;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 30%;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

p {
    text-align: center;
}

#result {
    color: green;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

body {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 14px;
}